.skills {
    margin-top: 98px;
    width: 100%;

    .skills-head {
        @include head-sections();


        .skills__title {
            font-size: get-fz(82);
            font-weight: 700;
            color: $titles-color;
            margin-left: 24px;
            text-transform: uppercase;
        }

    }

    .skills-content {
        margin-top: 58px;


        .skills__circles :nth-child(1) {
            margin-left: 0;
            display: inline-block;
        }

        .skills__circles {
            margin-left: 89px;

            div {
                border-radius: 50%;
                margin-left: 19px;
                display: inline-block;
            }
        }

        .skills__creative,
        .skills__teamwork,
        .skills__innovate,
        .skills__communication {
            text-align: center;
            font-size: get-fz(51);
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

.fill {
    width: 1.60vh;
    height: 1.60vh;
    background-color: $base-color;

}

.nofill {
    width: 36px;
    height: 35px;
    background-color: $base-gray;

}





@media only screen and (max-width: 770px) {
    .skills__circles {
        margin-left: 0px;

    }

    .fill {
        width: 28px;
        height: 28px;
    }



    .nofill {
        width: 28px;
        height: 28px;
    }
}