@font-face{
    font-family: "Myriad";;
    src:  url('/dist/assets/fonts/8143.eot');
    src:  url('/dist/assets/fonts/8143.woff') format('woff'),
    url('/dist/assets/fonts/8143.ttf') format('ttf'),
    url('/dist/assets/fonts/8143.svg') format('svg');
    
  }
  
