 
  @font-face {
    font-family: 'Myriad Pro Regular';
    src: url('/dist/assets/fonts/MyriadPro-Regular.eot');
    src: url('/dist/assets/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    // src: url('/src/fonts/MyriadPro-Regular.eot');
    // src: url('/src/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/dist/assets/fonts/MyriadPro-Regular.woff') format('woff'),
    url('/dist/assets/fonts/MyriadPro-Regular.ttf') format('truetype');
    // src: url('/src/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    // url('/src/fonts/MyriadPro-Regular.woff') format('woff'),
    // url('/src/fonts/MyriadPro-Regular.ttf') format('truetype');
    }

  