$base-color:#3d6cb0;
$base-font: 'Myriad Pro Regular';
$titles-color:#006cb4;
$icons-color:#0270ba;
$base-gray:#e6e6e6;
$max-width:1920px;
$min-width:320px;



@function get-width($n, $w) {
    @return percentage($n/$w);
}



@function get-fz($px) {
    @return $px/16+em;
}

@mixin head-sections {
    display: flex;
    align-items: center;
}