include ../icons/icons.pug
include ../line/line.pug


mixin sections(title)

    case title
        when "profile"
            .profile-wrapper
                .profile-head
                    +icons("profile")
                    p.profile__title #{title}
                    +line('profile')
                .profile__text    
                    p.profile__p  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
                        span.profile__span-bold pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. 
        when "contact"
            .contact-wrapper
                .contact-head
                    +icons("contact")
                    p.contact__title #{title}
                    +line("contact")
                .contact-content
                    .contact__p-left-wrapper
                        p(class='contact__p-left contact__address-left') address
                        p(class='contact__p-left contact__mail-left') e-mail
                        p(class='contact__p-left contact__phone-left') phone
                        p(class='contact__p-left contact__website-left') website
                    .contact__p-right-wrapper
                        p(class='contact__p-right contact__address-right') Main Street, City.
                        p(class='contact__p-right contact__mail-right') contact@domain.com
                        p(class='contact__p-right contact__phone-right') 555-555-555
                        p(class='contact__p-right contact__website-right') www.yourweb.com
        when "skills"
            .skills-wrapper
                .skills-head
                    +icons("skills")
                    p.skills__title #{title}
                    +line("skills")
                .skills-content
                    







