@import './src/utilits/vars.scss';
@import '../line/line.scss';

@mixin head-sections {
    display: flex;
    align-items: center;
}



@import './contact.scss';
@import './education.scss';
@import './profile.scss';
@import './skills.scss';
@import './experience.scss';
@import './software.scss';

.line {
    width: 100%;
}














.fill {
    width: 36px;
    height: 35px;
    background-color: $base-color;

}

.nofill {
    width: 36px;
    height: 35px;
    background-color: $base-gray;

}