@import './src/utilits/vars.scss';

.profile-wrapper{
    width: 827px;

}

.profile__title{
    font-size:get-fz(82);
    font-weight:700;
    color:$titles-color;
}

.profile-head{
    display: inline;
}

.profile__line{
    width: calc-width(337,827);
}
.profile__text-bold{
    font-weight:700;
}