.software {
    width: 1264px;
    margin-top: 105px;
    margin-left: 158px;


    .software-head {
        @include head-sections();

        .software__title {
            font-size: get-fz(82);
            font-weight: 700;
            color: $titles-color;
            margin-left: 24px;
            text-transform: uppercase;
        }

    }
}