@import './src/utilits/vars.scss';
@import './src/utilits/fonts.scss';
.base-info__svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}



.base-info{
    width: calc-width(554,2480);
    height: calc-width(803,2480);
    // background-color: crimson;
    position: relative;
}


.base-info__svg{
    position: absolute;
    display: block;
    width: calc-width(465,554);
    height: calc-width(465,554);
    margin: 0 auto;
    padding: 0;
}

.base-info__circle-fill-none{
    fill:none;
    stroke: $base-color;
}

.base-info__circle-fill-base-color{
    fill:$base-color;
}
.base-info-wrapper{
    top: calc-width(715,803);
    position: absolute;
    margin: 0 auto;
}

.base-info__name,
.base-info__surname,
.base-info__profession {
    font-family: $base-font;
    text-transform: uppercase;
    // margin: 0;
    text-align: center;
}
.base-info__name{
    font-weight: lighter;
    font-size: 124px;
}

.base-info__surname{
    font-weight: 700;
    font-size: 123px;
}

.base-info__profession{
    font-size: 50px;
    font-weight: 700;
}