@import './src/utilits/vars.scss';

.base-info{
    width: (554px/1.3);
    height:( 803px/1.3);
}


.base-info__svg{
    width: 180px;
}

.base-info__circle-fill-none{
    fill:none;
    stroke: $base-color;
}

.base-info__circle-fill-base-color{
    fill:$base-color;
}