.base-info      
 <svg class="svg base-info__svg"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="84%" height="84%" viewBox="0 0 465 465"><defs><path id="1uura" d="M552.45 176.341c128.2 0 232.125 103.912 232.125 232.093 0 128.181-103.926 232.093-232.125 232.093S320.326 536.615 320.326 408.434c0-128.181 103.925-232.093 232.124-232.093z"/><path id="1uurc" d="M552.45 205.97c111.833 0 202.492 90.647 202.492 202.464 0 111.818-90.659 202.464-202.492 202.464-111.833 0-202.491-90.646-202.491-202.464 0-111.817 90.658-202.464 202.491-202.464z"/><clipPath id="1uurb"><use fill="#fff" xlink:href="#1uura"/></clipPath></defs><g><g transform="translate(-320 -176)"><use fill="#fff" fill-opacity="0" stroke="#3d6cb0" stroke-miterlimit="50" stroke-width="4.08" clip-path="url(&quot;#1uurb&quot;)" xlink:href="#1uura"/></g><g transform="translate(-320 -176)"><use fill="#3d6cb0" xlink:href="#1uurc"/></g></g></svg>
    .base-info-wrapper
     p(class="base-info__name") Name here
     p(class="base-info__surname") Surname
     p(class="base-info__profession") Developer
     