.base-info
    .base-info__svg-container
        svg(class="svg base-info__svg"  version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" )
            circle(class="circle base-info__circle-fill-none" r=" 41.97%"  cx="50%" cy="50%")
            circle(class="circle base-info__circle-fill-base-color" r="36.55%" cx="50%" cy="50%")
    //- .base-info-wrapper
    //-  p(class="base-info__name") Name here
    //-  p(class="base-info__surname") Surname
    //-  p(class="base-info__profession") Developer