.contact
    .contact-head
        +icons("contact")
        p.contact__title contact
        +line("contact")
    .contact-content
        .contact__p-left-wrapper
            p(class='contact__p-left contact__address-left') address
            p(class='contact__p-left contact__mail-left') e-mail
            p(class='contact__p-left contact__phone-left') phone
            p(class='contact__p-left contact__website-left') website
        .contact__p-right-wrapper
            p(class='contact__p-right contact__address-right') Main Street, City.
            p(class='contact__p-right contact__mail-right') contact@domain.com
            p(class='contact__p-right contact__phone-right') 555-555-555
            p(class='contact__p-right contact__website-right') www.yourweb.com