.contact {
    margin-top: 96px;
    width: 100%;

    .contact-head {
        @include head-sections();


      

    }
    .contact__title {
        font-size: get-fz(82);
        font-weight: 700;
        color: $titles-color;
        margin-left: 24px;
        text-transform: uppercase;
    }

    .contact-content {
        margin-top: 73px;
        display: flex;

        .contact__p-left-wrapper {
        
            @extend .contact__title;
            font-size: get-fz(41);
            margin-left: 0;

            .contact__p-left {
                margin-top: 81px;

            }

            .contact__p-left:nth-child(1) {
                margin-top: 0;
                height: 28px;

            }

            .contact__p-left:nth-child(2) {

                height: 28px;

            }

            .contact__p-left:nth-child(3) {

                height: 28px;
            }

            .contact__p-left:nth-child(4) {

                height: 28px;
            }
        }

        .contact__p-right-wrapper {
            margin-left: 84px;
            font-size: get-fz(41);


            .contact__mail-right {
                margin-top: 70px;
            }


            .contact__p-right:nth-child(1) {
                margin-top: 0;

                height: 37px;
            }


            .contact__mail-right {
                margin-top: 70px;
                width: 372px;
                height: 34px;

            }

            .contact__phone-right {
                margin-top: 78px;
                height: 27px;
            }

            .contact__website-right {
                margin-top: 78px;
                width: 330px;
                height: 39px;
            }

        }
    }
}