
.software
    .software-head
        +icons("software")
        p.software__title software
        +line("software")
    .software-content
        .software-content-left    
            p.software__photoshop photoshop
            div(class="software__bar sofware__gray-bar-photoshop")


            p.software__illustrator illustrator
            div(class="software__bar sofware__gray-bar-illustrator")


            p.software__indesign indesign
            div(class="software__bar sofware__gray-bar-indesign")

        .software-content-left    
            p.software__dreamwear dreamwear
            div(class="software__bar sofware__gray-bar-dreamwear")


            p.software__after-effects after effects
            div(class="software__bar sofware__gray-bar-after-effects")


            p.software__html-css html&css3
            div(class="software__bar sofware__gray-bar-html-css")
