@mixin blue-bar {
    content: "";
    width: 50%;
    height: 46px;
    background: $base-color;
    position: absolute;
}


.software {
    width: 100%;
    margin-top: 105px;



    .software-head {
        @include head-sections();

        .software__title {
            font-size: get-fz(82);
            font-weight: 700;
            color: $titles-color;
            margin-left: 24px;
            text-transform: uppercase;
        }

    }

    .software-content {
        display: flex;
        justify-content: space-around;

        .software__photoshop,
        .software__illustrator,
        .software__indesign,
        .software__dreamwear,
        .software__after-effects,
        .software__html-css {
            font-size: get-fz(100);
            text-transform: uppercase;
        }

        .software__bar {
            width: 100%;
            height: 46px;
            background-color: $base-gray;
            position: relative;
        }


        .sofware__gray-bar-photoshop,
        .sofware__gray-bar-illustrator,
        .sofware__gray-bar-indesign,
        .sofware__gray-bar-dreamwear,
        .sofware__gray-bar-after-effects,
        .sofware__gray-bar-html-css {
            &::after {
                @include blue-bar();
            }
        }

        .sofware__gray-bar-illustrator::after {
            width: get-width(391, 554)
        }

        .sofware__gray-bar-photoshop::after {
            width: get-width(505, 554)
        }

        .sofware__gray-bar-indesign::after {
            width: get-width(312, 554);
        }
        .sofware__gray-bar-dreamwear::after {
            width: get-width(461, 554);
        }
        .sofware__gray-bar-after-effects::after {
            width: get-width(342, 554);
        }

        .sofware__gray-bar-html-css::after{
            width: get-width(505, 554);
        }
    }
    @media only screen and (max-width:2420px){
        .software-content {
            display: block;

            p{
                text-align: center;
            }

            .software__bar{
                margin: 0 auto;
            }
        }
    }
    @media only screen and (max-width: 1670px){
        .software-content {
            display: flex;
        }
    }
}

