mixin icons(title)
    case title 
        when "profile"
            img(class='profile-icon' src="./assets/img/profile_icon.png", alt="icon")
        when "contact"
            img(class='contact-icon' src="./assets/img/contact_icon.png", alt="icon")
        when "skills"
            img(class='skills-icon' src="./assets/img/skills_icon.png", alt="icon")    