mixin icons(title)
    case title 
        when "profile"
            img(class='profile-icon' src="./assets/img/PROFILE_ICON.png", alt="icon")
        when "contact"
            img(class='contact-icon' src="./assets/img/contact_icon.png", alt="icon")