<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

    body(class="body")

        .content
            .content-left-side
                include ./components/base-info/base-info.pug
                include ./components/sections/sections.pug
                +sections("profile")
                +sections("contact")
                +sections("skills")
            .content-right-side
                +sections("education")
                +sections("experience")
                +sections("software")









