
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

    body(class="body")

        .content
            .content-left-side
                include ./components/icons/icons.pug
                include ./components/line/line.pug
                include ./components/base-info/base-info.pug
                include ./components/profile/profile.pug
                include ./components/contact/contact.pug
                include ./components/skills/skills.pug
            .content-right-side
                include ./components/education/education.pug
                include ./components/experience/experience.pug
                include ./components/software/software.pug








