@import 'utilits/vars.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


.body{  
    font-family: $base-font;    
}

.content{
    width: 85%;
    min-width: $min-width;
    max-width: $max-width;
    margin-top:6.77%;
    margin-right:5.12%;
    margin-bottom:8.51%;
    margin-left:5.4%;
}





@import 'components/base-info/base-info.scss';
@import 'components/line/line.scss';
@import 'components/sections/sections.scss';
@import 'components/icons/icons.scss';

