@import 'utilits/vars.scss';
@import 'utilits/fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    font-family: $base-font;
}


.content {
    width: 100%;
    min-width: $min-width;
    display: flex;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    max-width: 3100px;
    margin-bottom:120px;
    .content-left-side {
        width: get-width(827, 2244);
        min-width: 600px;
    }

    .content-right-side {
        margin-left: 10%;
        min-width: 600px;
        width: get-width(1264, 2244);
        margin-right: 2%;
    }


}

@media only screen and (max-width: 1670px) {
    .content{
        display: block;

        .content-left-side{
            width: 100%;
        }

        .content-right-side{
            width: 100%;
            margin-left: 2%;
        }


    }
}

@import 'components/base-info/base-info.scss';
@import 'components/line/line.scss';
@import 'components/icons/icons.scss';
@import 'components/contact/contact.scss';
@import 'components/education/education.scss';
@import 'components/experience/experience.scss';
@import 'components/profile/profile.scss';
@import 'components/skills/skills.scss';
@import 'components/software/software.scss';